.main-content {
    position: absolute;
    top: 0; 
    left: 2vw;
    right: 2vw; 
    bottom: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages img {
    max-width: 95vw;  
    max-height: 95vh;
    width: auto;
    height: auto;
    display: block;
}

.nav-button {
    position: absolute;
    top: 50%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50px;
    color: white;
    border: 1px solid white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav-button:hover{
    transform: scale(1.1);
}

#prev-button {
    left: 5%;
}

#next-button {
    right: 5%;
}



@media (max-width: 768px) {
    .pages img {
        max-width: 80vw;  
        max-height: 80vh;
    }

    .nav-button{
        top: 85%;
    }
}

@media (max-width: 400px) {
    .pages img {
        max-width: 70vw;  
    }
}