.main-content {
    margin-left: 17vw; 
}

.images-hqs-home{
    display: flex;
    width: 90%;
    height: auto;
    flex-direction: column;
}

.hqs-top{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 5.5fr 4.5fr;
    gap: 25px;
}

.hqs-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    align-items: end;
}

/*----- Botões da Primeira HQ -----*/
.hq1-buttom1 {
    position: absolute;
    height: auto;
    bottom: 7%; 
    left: 1%;  
    width: 55%;
    height: auto;
}

.hq1-buttom1 img {
    width: 100%;
    height: auto;
    display: block;
}

.hq1-buttom1-text-authors {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 90%; 
    color: white;
    font-size: 0.8vw; 
    font-weight: normal;
    text-align: left;
    font-family: Roboto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hq1-buttom1-text-title {
    position: absolute;
    top: 55%; 
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.2vw; 
    font-weight: bold;
    text-align: center;
    font-family: Roboto;
    line-height: 1.2;
}

.hq1-buttom2 {
    position: absolute;
    height: auto;
    bottom: 17%; 
    right: 1%;  
    width: 22%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hq1-buttom2:hover {
    transform: scale(1.05);
}



/*----- Botões da Segunda HQ -----*/
.hq2-buttom1 {
    position: absolute;
    height: auto;
    top: 2%; 
    left: 5%;  
    width: 65%;
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.hq2-buttom1:hover{
    transform: scale(1.05);
}

.hq2-buttom1-text-title {
    position: absolute;
    top: 67%; 
    left: 7%;
    width: 90%;
    color: white;
    font-size: 1.2vw; 
    font-weight: bold;
    text-align: left;
    font-family: Roboto;
    line-height: 1.2;
}

.hq2-buttom1-text-authors {
    position: absolute;
    top: 79%;
    left: 7%;
    width: 90%; 
    color: white;
    font-size: 0.7vw; 
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-align: left;
    font-family: Roboto;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.8px

}

.hq2-buttom2 {
  position: absolute;
  height: auto;
  bottom: 20%; 
  right: 8%;  
  width: 15%;
  height: auto;
}

.hq2-buttom2-text{
    position: absolute;
    top: 50%; 
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2vw; 
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    font-family: Roboto;
}


/* ----- Bordas e Imagens das HQs Superiores -----*/
#hq1-border, #hq2-border{
    position: relative;
    background: white;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    padding: 2px;
    box-sizing: border-box;
}

#hq1-border > img:first-child, #hq2-border img {
    width: 100%;
    height: 100%;
    clip-path: inherit;
    object-fit: cover;
}

/* ----- Primeira Imagem -----*/
#hq1-border {
    width: 100%;
    height: auto;
}

/* ----- Segunda Imagem -----*/
#hq2-border {
    height: 85%;
    width: 100%;
}

/* ----- Bordas e Imagens das HQs Inferiores -----*/
#hq3-border img,
#hq4-border img, 
#hq5-border img, 
#hq6-border img {
    width: 100%;
    height: 100%;
    clip-path: inherit;
    display: block;
}

#hq3-border, #hq4-border, #hq5-border, #hq6-border {
    background: white;
    clip-path: polygon(0 7%, 100% 0, 100% 100% , 0% 100%);
    padding: 2px;
}

#hq3-border{
    height: 100%;
    width: auto;
}
#hq4-border{
    height: 107.6%;
    width: auto;
}
#hq5-border{
    height: 115.7%;
    width: auto;
}
#hq6-border{
    height: 124.5%;
    width: auto;
}

span{
    pointer-events: none;
}


@media (max-width: 768px) {
    .images-hqs-home{
        width: 100%;
    }

    .hqs-top{
        grid-template-columns: 1fr;
    }

    .hqs-bottom {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 0;
        align-items: end;
    }

    #hq3-border, #hq4-border, #hq5-border, #hq6-border {
        width: 100%;
        height: 100%;
        background: none;
        clip-path: none;
        border: 2px solid white;
        padding: 0;
    }

    #hq1-border, #hq2-border{
        background: none;
        clip-path: none;
        border: 2px solid white;
        padding: 0;
    }

    .hq1-buttom1 {
        width: 60%;
        bottom: 3%;
        left: 2%;
    }

    .hq1-buttom1-text-authors {
        font-size: 1.5vw;

    }

    .hq1-buttom1-text-title {
        font-size: 4.5vw;
    }

    .hq1-buttom2 {
        bottom: 2%; 
        width: 30%;
    }

    .hq2-buttom1-text-title{
        font-size: 3vw;
    }

    .hq2-buttom1-text-authors{
        font-size: 1.3vw;
    }

    .hq2-buttom2-text{
        font-size: 3.2vw; 
    }
    
}



@media (max-width: 480px) {
    
    .main-content {
        margin-left: 90px; 
        transition: margin-left 0.3s ease;
    }

    .main-content.expanded { /* estado quando a sidebar está fechada */
        margin-left: 10vw; 
    }

    .hq1-buttom1 {
        width: 55%;
        bottom: 3%;
        left: 2%;
    }

    .hq1-buttom1-text-authors {
        font-size: 1.6vw;
        left: 12%;
    }

    .hq1-buttom1-text-title {
        font-size: 4vw;
    }
    

    
}