.main-content {
    position: absolute;
    top: 0; 
    left: 2vw;
    right: 2vw; 
    bottom: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages img {
    max-width: 95vw;  
    max-height: 95vh;
    width: auto;
    height: auto;
    display: block;
}




@media (max-width: 768px) {
    .pages img {
        max-width: 80vw;  
        max-height: 80vh;
    }
}

@media (max-width: 400px) {
    .pages img {
        max-width: 70vw;  
    }
}