.reader-page {
    position: absolute;
    top: 0;
    left: 2vw;
    right: 2vw;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reader-page .pages img {
    max-width: 95vw;
    max-height: 95vh;
    width: auto;
    height: auto;
    display: block;
}

.reader-page.expanded {
    justify-self: center;
}

.reader-page .nav-button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    color: white;
    border: 1px solid white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.reader-page .nav-button:hover {
    transform: scale(1.1);
}

.reader-page #prev-button {
    left: 5%;
}

.reader-page #next-button {
    right: 5%;
}



@media (max-width: 768px) {
    .reader-page .pages img {
        max-width: 80vw;
        max-height: 80vh;
    }

    .reader-page .nav-button {
        top: 85%;
    }
}

@media (max-width: 400px) {
    .reader-page .pages img {
        max-width: 70vw;
    }
}