html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #0d1024;
}

main {
  flex-grow: 1;
  max-width: 80vw;
}